
body {
	margin: 0;
	font-family: "Space Grotesk", sans-serif;
	font-size: 18px;
	color: #000000;
}
a { text-decoration: none; color: inherit; }


h1{
	font-size: 60px;
	font-weight: 500;
	margin: 0;
}
h2{
	font-size: 40px;
	font-weight: 500;
	margin: 0;
}
h3{
	font-size: 30px;
	font-weight: 500;
	margin: 0;
}
h4{
	font-size: 20px;
	font-weight: 500;
	margin: 0;
}
p{
	font-size: 18px;
	font-weight: 400;
	margin: 0;
}



@media (max-width: 768px) {
h1{
	font-size: 43px;
	font-weight: 500;
	margin: 0;
}

}


@media (max-width: 768px) {
h2{
	font-size: 36px;
	font-weight: 500;
	margin: 0;
}

}

@media (max-width: 768px) {
h3{
	font-size: 26px;
	font-weight: 500;
	margin: 0;
}


}

@media (max-width: 768px) {

h4{
	font-size: 18px;
	font-weight: 500;
	margin: 0;
}

}

@media (max-width: 768px) {
p{
	font-size: 16px;
	font-weight: 400;
	margin: 0;
}

}



textarea, input{
	width: 100%;
	height: 100%;
	padding-top: 18px;
	padding-bottom: 18px;
	padding-left: 30px;
    border: 1px solid #000000;
    border-radius: 14px;
    font-family: inherit;
    font-size: 18px;
    font-weight: 400;
    background-color: #fff;
    outline: none;
    resize: none;
}


*,
*:before,
*:after {
	box-sizing: border-box;
}



.header{
	margin-top: 60px;
	margin-bottom: 70px;
	height: 68px;
}
.container{
	max-width: 1440px;
	width: 100%;
	padding-left: 100px;
	padding-right: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
}
.header_inner{
	display: flex;
	justify-content: space-between;
	align-items: center
}
.header_logo{
}
.nav{
	display: flex;
	font-size: 20px;
	color: #000000;
	font-weight: 400;
}

.nav_link{
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: 40px;
}

.nav_btn{
	color: #fff;
	font-weight: 400;
	padding-left: 35px;
	padding-right: 35px;
	display: inline-block;
	border-radius: 14px;
	border: 1px solid #000000;
    background: #191A23;
    transition: background 0.1s linear;
}

.nav_btn:hover{
	color: #000;
	background: transparent;
}

.hero{
	margin-bottom: 70px;
	height: 515px;
}
.hero_inner{
	display: flex;
	justify-content: space-between;
}
.hero_content{
	max-width: 50%;
	padding-right: 108px;
}
.hero_h1{
	margin: 0;
}
.hero_text{
	font-size: 20px;
	font-weight: 400;
	padding-top: 35px;
	padding-bottom: 35px;
	padding-right: 33px;
}
.hero_btn{
	color: #fff;
	font-size: 20px;
	font-weight: 400;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 35px;
	padding-right: 35px;
	display: inline-block;
	border-radius: 14px;
	border: 1px solid #191A23;
    background: #191A23;
    transition: background 0.1s linear;
}

.hero_btn:hover{
	color: #000;
	background: transparent;
}


.logotypes{
	margin-bottom: 140px;
}


.logotypes_inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.services_title{
	height: 51px;
	margin-bottom: 80px;
}

.services_title_inner{
	display: flex;
	align-items: center;
}

.services_btn{
	padding-left: 7px;
	padding-right: 7px;
	display: inline-block;
	border-radius: 7px;
	border: 1px solid #B9FF66;
    background: #B9FF66;
    margin-right: 40px;
}

.services_title_text{
	padding-bottom: 5px;
	width: 580px;
}




.services{
	margin-bottom: 100px;

}

.services_inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.services_content{
	max-width: 600px;
	display: flex;
	align-items: center;
	border-radius: 45px;
	border: 1px solid #191A23;
    padding: 50px;
    transition: box-shadow 0.1s linear;
}
.services_content:hover{
	box-shadow: 0px 5px 0px #191A23;
}

.services_content1{
    background: #F3F3F3;
    margin-right: 40px;
    margin-bottom: 40px;
}
.services_text{
	margin-right: 69px;
}
.service_title1{
	display: inline-block;
    padding: 0 5px;
    border-radius: 7px;
    background-color: #B9FF66;
}

.service_learn{
	margin-top: 93px;
	display: flex;
	align-items: center;
	font-size: 20px;
	font-weight: 400;
}

.service_logo{
}
.arrow{
	padding-right: 6.5px;
}


.services_content2{
    background: #B9FF66;
    margin-bottom: 40px;
}

.service_title2{
	display: inline-block;
    padding: 0 5px;
    border-radius: 7px;
    background-color: #FFFFFF;
}


.services_content3{
    background: #191A23;
    margin-right: 40px;
    margin-bottom: 40px;
}

.service_title3{
	display: inline-block;
    padding: 0 5px;
    border-radius: 7px;
    background-color: #FFFFFF;
}
.learn_white{
	color: #fff;
}

.services_content4{
    background: #F3F3F3;
    margin-bottom: 40px;
}

.service_title4{
	display: inline-block;
    padding: 0 5px;
    border-radius: 7px;
    background-color: #B9FF66;
}

.services_content5{
    background: #B9FF66;
    margin-right: 40px;
}

.service_title5{
	display: inline-block;
    padding: 0 5px;
    border-radius: 7px;
    background-color: #FFFFFF;
}

.services_content6{
    background: #191A23;
}

.service_title6{
	display: inline-block;
    padding: 0 5px;
    border-radius: 7px;
    background-color: #FFFFFF;
}


.service_end{
	margin-bottom: 140px;
}

.service_end_inner{
	display: flex;
	justify-content: space-between;
	margin-top: 23.5px;
	margin-bottom: 23.5px;
	background: #F3F3F3;
	max-width: 1240px;
	border-radius: 45px;
	border: 1px solid #F3F3F3;
}


.service_end_text{
	max-width: 500px;
	padding-bottom: 60px;
	padding-top: 60px;
	padding-left: 60px;
}


.service_end_title{
	margin-bottom: 26px;
}


.service_end_p{
	margin-bottom: 26px;
}

.service_end-btn{
	color: #fff;
	font-size: 20px;
	font-weight: 400;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 35px;
	padding-right: 35px;
	display: inline-block;
	border-radius: 14px;
	border: 1px solid #191A23;
    background: #191A23;
    transition: background 0.1s linear;
}

.service_end-btn:hover{
	color: #000;
	background: transparent;
}

.service_end_logo{

}


.use_case_title{
	height: 51px;
	margin-bottom: 80px;
}

.use_case_title_inner{
	display: flex;
	align-items: center;
}

.use_case_title_btn{
	padding-left: 7px;
	padding-right: 7px;
	display: inline-block;
	border-radius: 7px;
	border: 1px solid #B9FF66;
    background: #B9FF66;
    margin-right: 40px;
}

.use_case_title_text{
	padding-bottom: 5px;
}



.cases{
	margin-bottom: 140px;
}

.cases_inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 70px;
	padding-bottom: 70px;
	padding-right: 60px;
	padding-left: 60px;
	background: #191A23;
	max-width: 1240px;
	border-radius: 45px;
	border: 1px solid #191A23;
}

.case_box{
	color: #fff;
	padding-right: 64px;
	border-right: 1px solid #FFFFFF;
	margin-right: 64px;
}

.case_box_alter{
	color: #fff;
}

.case_learn{
	margin-top: 20px;
	display: flex;
	align-items: center;
	color: #B9FF66;
	padding-bottom: 23px;
}




.process_title{
	height: 51px;
	margin-bottom: 80px;
}

.process_title_inner{
	display: flex;
	align-items: center;
}

.process_title_btn{
	padding-left: 7px;
	padding-right: 7px;
	display: inline-block;
	border-radius: 7px;
	border: 1px solid #B9FF66;
    background: #B9FF66;
    margin-right: 40px;
}

.process_title_text{
	padding-bottom: 5px;
}


.process{
	margin-bottom: 140px;
}

.process_inner{

}

.process_content{
	padding-right: 60px;
	padding-left: 60px;
	padding-bottom: 41px;
	padding-top: 41px;
	border-radius: 45px;
	border: 1px solid #191A23;
    background: #F3F3F3;
    margin-bottom: 30px;
    transition: box-shadow 0.1s linear;
}

.process_content:hover{
	box-shadow: 0px 5px 0px #191A23;
}
.process_show{
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.process_hide {
    display: none;
}

.process_show.active{
	margin-bottom: 30px;
}

.process_hide.active {
	padding-top: 30px;
    display: flex;
    border-top: 1px solid #000;
}

.process_content.active {
    background-color: #B9FF66;
}

.process_text{
	display: flex;
	align-items: center;
}

.process_h1{
	margin-right: 19.5px;
}



.team_title{
	height: 51px;
	margin-bottom: 80px;
}

.team_title_inner{
	display: flex;
	align-items: center;
}

.team_title_btn{
	padding-left: 7px;
	padding-right: 7px;
	display: inline-block;
	border-radius: 7px;
	border: 1px solid #B9FF66;
    background: #B9FF66;
    margin-right: 40px;
}

.team_title_text{
	padding-bottom: 5px;
}


.team{

}

.team_inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.team_content{
	max-width: 387px;
	padding-right: 35px;
	padding-bottom: auto;
	padding-left: 35px;
	padding-top: 40px;
	border-radius: 45px;
	border: 1px solid #191A23;
    background: #FFFFFF;
    margin-bottom: 40px;
    height: 331px;
    transition: box-shadow 0.1s linear;
}
.team_content:hover{
    box-shadow: 0px 5px 0px #191A23;
}

.img_team{
	width: 102px;
	height: 102px;
}


.team_top{
	display: flex;
	padding-bottom: 28px;
	border-bottom: 1px solid #000000;
	position: relative;
}
.team_in{
	position: absolute;
	top:15px;
	right: 15px;
}
.team_name{
	display: flex;
	margin-left: 20px;
	align-items: flex-end; 
	justify-content: space-between;

}
.team_text{
	display: inline-block;
}

.team_bottom{
	margin-top: 28px;
}


.team_btn {
	margin-bottom: 128px;
}

.team_btn_inner{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.team_btn_content{
	max-width: 269px;
	color: #FFFFFF;
	padding-right: 76px;
	padding-left: 76px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 14px;
	border: 1px solid #191A23;
    background: #191A23;
    text-align: center;
    transition: background 0.1s linear;
}

.team_btn_content:hover{
	color: #000;
	background: transparent;
}


.contact_title{
	height: 51px;
	margin-bottom: 80px;
}

.contact_title_inner{
	display: flex;
	align-items: center;
}

.contact_title_btn{
	padding-left: 7px;
	padding-right: 7px;
	display: inline-block;
	border-radius: 7px;
	border: 1px solid #B9FF66;
    background: #B9FF66;
    margin-right: 40px;
}

.contact_title_text{
	padding-bottom: 5px;
}





.contact{
	margin-bottom: 140px;
}

.contact_inner{
	display: flex;
	justify-content: space-between;
	border-radius: 14px;
	border: 1px solid #F3F3F3;
    background: #F3F3F3;
    position: relative;
    overflow: hidden;

}
.contact_form{
	width: 100%;
    max-width: 556px;
    position: relative;
    z-index: 2;
	padding-bottom: 80px;
	padding-top: 60px;
	padding-left: 100px;
}

.checkbox{
	display: flex;
	align-items: center;
	margin-bottom: 40px;

}
.checkbox_input{
	width: 10px;
	margin-right: 3px;

}

.checkbox_label{

	margin-right: 35px;
}
.label_input{
	margin-bottom: 5px;

}

.input{
	margin-bottom: 25px;

}

.text{
	max-width: 556px;
	height: 223px;

	margin-bottom: 40px;
}


.contact_logo{
	position: absolute;
    top: 0;
    right: -200px; 
    width: 50%;
    height: 100%;
    pointer-events: none;
    display: flex;
    align-items: center;
}




.form-btn{
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 20px;
	font-weight: 400;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 35px;
	padding-right: 35px;
	display: inline-block;
	border-radius: 14px;
	border: 1px solid #191A23;
    background: #191A23;
    transition: background 0.1s linear;
}

.form-btn:hover{
	color: #000;
	background: transparent;
}

.footer{


}


.footer_inner{
	padding-right: 35px;
	padding-bottom: 40px;
	padding-left: 35px;
	padding-top: 40px;
	border-top-right-radius: 45px;
	border-top-left-radius: 45px;
	border-top: 1px solid #191A23;
	border-right: 1px solid #191A23;
	border-left: 1px solid #191A23;
    background: #191A23;
}


.footer_header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 66px;
}


.footer_nav{
	display: flex;
	color: #fff;
	text-decoration: underline;
	font-weight: 400;
}

.footer_logo{
	display: flex;
}

.img_logo{
	margin-right: 20px;
}

.footer_hero{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 50px;
	border-bottom: 1px solid #fff;
	margin-bottom: 50px;

}

.footer_contacts{
	color: #fff;
}

.contact_footer_title_btn{
	color: #000;
	padding-left: 7px;
	padding-right: 7px;
	display: inline-block;
	border-radius: 7px;
	border: 1px solid #B9FF66;
    background: #B9FF66;
    margin-bottom: 27px;
}
.footer_text{

margin-bottom: 20px;

}

.footer_email{
	display: flex;
	align-items: center;
	padding-right: 40px;
	padding-bottom: 58px;
	padding-left: 40px;
	padding-top: 58px;
	border-radius: 14px;
	border: 1px solid #292A32;
	background: #292A32;

}

.footer_input{
	background: transparent;
	color: #fff;
	border-color: #fff;

}

.footer_input::placeholder {
    color: #fff;
}

.email_btn{

	color: #000;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 20px;
	padding-bottom: 20px;
	display: inline-block;
	border-radius: 14px;
	border: 1px solid #B9FF66;
    background: #B9FF66;
    margin-left: 20px;
}

.footer_footer{

	color: #fff;
	display: flex;
}

.footer_footer a{
	color: #fff;
	text-decoration: underline;
	margin-left: 40px;
}


@media (max-width: 768px) {


    body {
        font-size: 16px;
    }

    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    /* ===== HEADER ===== */
    .header {
        margin-top: 30px;
        margin-bottom: 40px;
        height: auto;
    }

    .header_inner {
        flex-direction: column;
        gap: 20px;
    }

    .nav {
        flex-direction: column;
        align-items: center;
        font-size: 18px;
    }

    .nav_link {
        margin-left: 0;
    }

    /* ===== HERO ===== */
    .hero {
        height: auto;
        margin-bottom: 50px;
    }

    .hero_inner {
        flex-direction: column;
    }

    .hero_content {
        max-width: 100%;
        padding-right: 0;
    }

    .hero_text {
        font-size: 18px;
        padding-right: 0;
    }

    .logotypes_inner {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    /* ===== SERVICES ===== */
    .services_inner {
        flex-direction: column;
    }

    .services_content {
        max-width: 100%;
        margin-right: 0;
    }

    .services_text {
        margin-right: 0;
    }

    .cases_inner {
        flex-direction: column;
        padding: 30px;
    }

    .case_box {
        padding-right: 0;
        border-right: none;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .process_content {
        padding: 30px;
    }

    .process_show {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .process_hide.active {
        flex-direction: column;
    }


    .team_inner {
        flex-direction: column;
    }

    .team_content {
        max-width: 100%;
        height: auto;
    }

    .team_btn_inner {
        justify-content: center;
    }

    .contact_inner {
        flex-direction: column;
    }

    .contact_form {
        padding: 40px 20px;
        max-width: 100%;
    }

    .contact_logo {
        display: none;
    }


    .footer_header,
    .footer_hero,
    .footer_footer {
        flex-direction: column;
        gap: 20px;
    }

    .footer_nav {
        flex-direction: column;
        align-items: center;
    }

    .footer_email {
        flex-direction: column;
        gap: 15px;
        padding: 30px;
    }

    .email_btn {
        margin-left: 0;
        width: 100%;
        text-align: center;
    }
}
